@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
}

.container {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container .hero {
    text-align: center;
}

.skills .skills-list {
    gap: 60px;
    list-style-type: none;
    display: flex;
}

.skills .skills-list li {
    padding: 4px 8px;
    background-color: #333333;
    color: white;
    border-radius: 4px;
}

.skills .skills-list li:hover {
    background-color: #993333;
    transition: background-color 0.2s ease-in;
}

.projects-skills-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-left: -2.5rem;
}

.projects-skills-list li {
    outline: 1px solid #c0c0c0;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
}

.projects-skills-list li:hover {
    background-color: #333333;
    color: white;
    transition: all 0.3s ease-in;
}

.projects-header {
    display: flex;
   
}

.projects-header p {
     margin: auto 0 auto 0.5rem;
}

.project-description {
    padding: 0 20rem 0 0;
    line-height: 2rem;
}